
.header{
    .logo{
        img{
            width: 100px;
        }
    }
    .header-text{
        background-color: #08123b;
        h3{
            color: #fff
        }
    }    
}

.rupee-input{
    input{
        font-size: 3rem;
        width: fit-content;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.price-input{
    .MuiInput-formControl::before,
    .MuiInput-formControl::after,
    .MuiInput-formControl,
    .MuiInput-underline:hover:not(.Mui-disabled):before,
    .MuiInput-underline.Mui-disabled:before{
        transition: unset;
        border-bottom: unset;
    }
    .Mui-disabled{
        color: #000
    }
    input{
        padding: 0;
    }
}

.otp-inputStyle-normal, .otp-inputStyle-error{
    border: 0;
    margin: 0px 1rem ;
    font-size: 3rem;
    border-bottom: 1px solid rgb(150, 149, 149);
}

.otp-inputStyle-error{
    color: rgb(236, 66, 66);
    border-bottom: 2px solid rgb(236, 66, 66);
}
.whatsapp-check{
    background-color: #eaeaea;
    padding-left: .5em;
    border-radius: 3px;
    .whatsapp{
        color:#008000;
        svg{
            margin-bottom: -5px;
        }
    }
}

.edit-icon{
    color:rgb(49, 49, 236)
}