
.header{
    .logo{
        img{
            width: 100px;
        }
    }
    .header-text{
        background-color: #08123b;
        h3{
            color: #fff
        }
    }    
}

.rupee-input{
    input{
        font-size: 3rem;
        width: fit-content;
    }
}